header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.menu {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 60px;
  z-index: 100;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
  background-color: var(--nav-primary);
}

.menu-list {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}

.menu-element {
  color: var(--text-primary);
  font-size: 18px;
  font-weight: lighter;
}

.menu-element.active {
  color: var(--text-primary);
  font-weight: bold;
}

.nav-review {
  display: none;
}

@media (max-width: 749px) {
  .menu-list {
    display: none;
  }

  .menu-container {
    padding: 0 10px;
  }

  .nav-review {
    display: block;
  }
}
